*{
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: 200;
  color: rgb(46, 46, 46);
}

html{
  font-size: min(32px, max(16px, 4vw));
}
  
main{
  padding: min(100px, max(30px, 7vw));
}

h1{
  font-size: 1.75em;
}

p{
  color: grey;
  font-size: 0.9em;
}

a{
  text-decoration: underline;
}

a:hover{
  color: gray;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3em;
}

footer a{
  margin: 0 0.5em;
}

a.menu-item{
  margin-top: min(100px, max(30px, 7vw));
  font-size: 1.2em;
  display: block;
  
}