*{
  padding: 0;
  margin: 0;
  font-family:monospace;
  text-decoration: none;
  font-weight: normal;
  color: rgb(46, 46, 46);
}

h1{
  font-size: max(7vw, 36pt);
}

p{
  font-size: max(1.2vw, 12pt);
  color: grey;
}

body{
  padding: 8vw 10vw 10vw 10vw;
}

a:hover{
  color: gray;
}

a.game-link{
  display: block;
  font-size: 5vw;
  text-decoration:underline;
  margin: 50px 0px 10px 0px;
  font-size: max(2vw, 16pt);
}

a.mail{
  font-size: max(2vw, 16pt);
  margin: 50px 0px 10px 0px;
  display: block;
  text-decoration:underline;
}
