* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  text-decoration: none;
  font-weight: normal;
  color: rgb(46, 46, 46);
}

.home{
    display: block;
    font-size: xxx-large;
    width: 100px;
    text-decoration: underline;
}

.home:hover{
    
    color: grey;
}

p {
  max-width: 700px;
}

h1 {
  font-size: 1.75em;
}

body {
  padding: 3vw 2vw 3vw 3vw;
}


div.input-wraper {
    display: inline-block;
    position: relative;
    margin-top: 20px;
}

div.lable {
    font-size: 3;
    position: absolute;
    top: -15px;
    font-size: x-small;
}

button.delete{
    padding: 0.5vh;
    color: red;
    background-color: white;
    font-size: x-small;
}
button.delete:hover{
    text-decoration: underline;
    background-color: white;
}

.input-wraper  input {
  border: 1px solid rgb(46, 46, 46);
  border-radius: 3px;
  padding: 1vw 1vw 1vw 1vw;
  width: 80px;
}

button {
  border: none;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}

h1,
h2 {
  margin: 2vw 0px 2vh 0px;
}

h4 {
  display: inline-block;
  margin: 1vw 0vh;
}
ul {
  list-style-type: none;
  display: inline;
}

li {
  margin-left: 1vh;  
  display: inline-block;
  font-size: x-small;
}
