* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: 200;
  font-size: 1em;
  color: rgb(95, 99, 104);
}

html{
  font-size: min(16pt, max(12pt, 2vw));
}

body {
  padding: min(3em, max(2em, 7vw));
}

h1, h2, h3, h4, h5, h6 {
  color:rgb(0, 0, 0);
}

h1,h2 {
  font-size: 1.75em;
  margin-top: 1em;
}

td {
  padding: 0em 0.5em;
}

button, input {
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: pointer;
}
input {
  border: 1px solid rgb(95, 99, 104);
  min-width: 4em;
}

button {
  background-color: rgb(65, 105, 225);
  color: white;
  border: none;
  margin: 0.5em 0em;
}

button:hover {
  background-color: rgb(97, 136, 250);
}

::placeholder {
  color: rgb(141, 148, 156);
}

p {
  max-width: 900px;
}

div.input-wraper {
    display: inline-block;
    position: relative;
    margin-top: 1em;
}

.delete {
  padding: 0em;
  color: red;
  background-color: white;
}

.delete:hover {
  background-color: white;
}

div.lable {
    position: absolute;
    top: -1.5em;
    font-size: 0.5em;
}

a.home {
  font-size: 3em;
  display: block;
  text-decoration:underline;
  color: black;
}

a.home:hover {
  color: gray;
}